<form action="/users" method="post">
  <span>Username: </span><input type="text" name="username" />
  <span>Name: </span><input type="text" name="name" />
  <span>Email: </span><input type="text" name="email" />
  <span>Password: </span><input type="password" name="password" />
  <input type="submit" value="Sign up" />
</form>